extends layout


block content
  include ./navbar.jade
  .container
    h1 CtrlApp
    if user
      h4 Bem vindo, #{user}!
      a(href="/noticia") Publicar noticia
    else
      h4 Entre para continuar.
  